<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/Damso.css">
    <title>Api Spotify - Albums Damso</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/" class="nav-links">Home</a></li>
    </nav>
    <div>
        <div>
            <div>
            <img src="/assets/img/Damso.png" alt="Photo de Damso">
            </div>
            <div>
                <h1>Damso</h1>
                <p>William Kalubi Mwamba, dit Damso, est un rappeur, chanteur et auteur-compositeur belge d'origine congolaise, né le 10 mai 1992 à Kinshasa. Il s'est fait connaître du grand public en 2015 grâce à sa collaboration avec le rappeur français Booba sur l'album D.U.C. Depuis, Damso a sorti plusieurs albums à succès, dont "Batterie Faible", "Ipséité" et "Lithopédion". Son style musical se caractérise par des textes introspectifs et poétiques, abordant des thèmes variés tels que la vie, l'amour, la société et la condition humaine.</p>
            </div>
        </div>
        <div>
            <div>
                <h2>Albums</h2>
            </div>
            <div class="albums">
                {{range $i, $d := .AlbumData.Data}}

                    <div class="album-card">
                        <p><strong>#{{$i}}</strong></p>

                        <img src="{{$d.Image}}" alt="Image album" width="200">

                        <p><strong>Nom de l'album :</strong> {{$d.Name}}</p>
                        <p><strong>Date de sortie :</strong> {{$d.ReleaseDate}}</p>
                        <p><strong>Total tracks :</strong> {{$d.TotalTracks}}</p>
                        <p><strong>URL Spotify :</strong>
                            <a href="{{$d.URL}}" target="_blank">Ouvrir</a>
                        </p>
                    </div>

                {{end}}
            </div>
        </div>
    </div>
</body>

</html>