<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Api Spotify</title>
</head>

<body>    
    <div class="text-image-container">
            <div class="text-container">
               <a href="/album/Damso" class="nav-links">Albums - Damso</a>
            </div>
            <div class="text-container">
                <a href="/track/Laylow" class="nav-links">Maladresse - Laylow</a>
            </div>
        </div>
</body>

</html>